<!DOCTYPE html>
<html>
  <head>
    <title>Trancef</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
      <% elsif %>
        <li><%= link_to "sign in", new_user_session_path %></li>
        <li><%= link_to "sign up", new_user_registration_path %></li>
      <% end %>
    </ul>

    <%= yield %>
  </body>
</html>
